@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Prompt&family=Raleway:wght@500&display=swap');
html , body ,#root {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}

.flrow {
    display: flex;
    flex-direction: row;
}
.flcol {
    display: flex;
    flex-direction: column;
}

.jcen {
    justify-content: center;
}
.acen {
    align-items: center;
}
.tcen {
    text-align: center;
}
.jcsa {
    justify-content: space-around;
}

.border {
    border: 2px solid red;
}
.curpoi {
    cursor: pointer;
}

.h100 {
    height: 100%;
}
.w100 {
    width: 100%;
}

/* 
font-family: 'Merriweather', serif;
font-family: 'Prompt', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'Prompt', sans-serif;
}

input , button {
    font-family: 'Raleway', sans-serif; 
}
a {
    color: #0000EE;
    text-decoration: none;
}

.oth-div {
    border: 1px solid grey;
    padding: 0.5rem;
    cursor: pointer;
}
.oth-name {
    margin-left: 10px;
}
.oth-price {
    margin-left: 70px;
}