.home-nav {
    height: 45px;
}
.home-icon {
    height: 43px;
}

.nav-icons {
    height: 27px;
}
.navlog {
    position: absolute;
    right: 10px;
}
.nav-prof {
    margin-right: 0.8rem;
    text-decoration: none;
}
.money-clr {
    color: rgb(1, 165, 1);
    font-weight: 600;
}
.nav-auth {
    margin-left: 5px;
    font-weight: 500;
}